<ion-header>
  <ion-toolbar>
      <ion-menu-button slot="start" menu="openmenu1" size="large"></ion-menu-button>
   
    <ion-title style="text-align: center; font-size: 1em; font-family: 'Prompt'; color: #FC6602;">RUN</ion-title>
    <ion-buttons slot="end" >
      <ion-button>
        <ion-icon name="search" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="contenner-run">
    <div class="map"></div>
    <div class="wrapper-run-recore">
      <div class="number-km-all">
        <div class="number-km">0.00</div>
        <div class="distance-km">ระยะทาง(กม.)</div>
      </div>
      <div class="time-pace-calorie">
        <div class="time-all">
          <div class="time">{{hours}}:{{min}}:{{second}}</div>
          <div class="text-time">เวลา</div>
        </div>
        <div class="pace-all">
          <div class="pace">-</div>
          <div class="text-pace">PACE</div>
        </div>
        <div class="calorie-all">
          <div class="calorie">0</div>
          <div class="text-calorie">แคลอรี่</div>
        </div>
      </div>
      <div class="wrapper-button-run">
 
        <ion-button class="button-run" color="triamrun" (click)="onRunrecord()" >
          <ion-icon name="play"  color="light"  class="icon-play"></ion-icon>
        </ion-button>

        <ion-button class="button-run" color="triamrun" (click)="onTimepause()">
          <ion-icon name="pause"  color="light"  class="icon-play"></ion-icon>
        </ion-button>

        <ion-button class="button-run" color="triamrun" (click)="onRunworking()">
          <ion-icon name="play"  color="triamrun"  class="icon-play-2"></ion-icon>
        </ion-button>

        <ion-button class="button-run" color="triamrun" (click)="onTimeend()">
          <ion-icon name="square"  color="light"  class="icon-play"></ion-icon>
        </ion-button>

        <ion-button class="button-run" color="triamrun" (click)="onLocation()">
          <ion-icon name="play"  color="triamrun"  class="icon-play-2"></ion-icon>
        </ion-button>
      </div>
    </div>
    
  </div>

</ion-content>
