<ion-header>
  <ion-toolbar>
      <ion-menu-button slot="start" menu="openmenu1" size="large"></ion-menu-button>
    <ion-title style="text-align: center; font-size: 1em; font-family: 'Prompt'; color: #FC6602;">CHALLENGE</ion-title>
    <ion-buttons slot="end" >
        <ion-button>
          <ion-icon name="search" ></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  

  <div class="contener-challenge-project">
    <div class="day-createby">
      <div class="day">10/11/2562 - 10/12/2562 </div>
      <div class="create-by">Challenge ของคุณ Kamila Lalali</div>
    </div>
 <div class="goal-time">
    <div class="goal-all">
      <div class="goal">เป้าหมาย : </div>
      <div clsss="goal-name">กำหนดระยะทางเวลาที่ดีที่สุด</div>
    </div>
    <div class="time-start-all">
      <div class="time-start">เวลาที่เริ่ม : </div>
      <div clsss="time-start-name">9:00</div>
    </div>
    <div class="time-last-all">
      <div class="time-last">เวลาสิ้นสุด : </div>
      <div clsss="time-last-name">9:00</div>
    </div>
 </div>
  <div class="distance-all">
    <div class="distance">ระยะทาง :</div>
    <div clsss="distance-name">21</div>
    <div clsss="distance-km">กิโลเมตร</div>
  </div>

  <div class="time-coundown-all">
    <div class="start">จะเริ่มใน</div>
    <div class="time">
      <div class="day-day">
        <div class="day-number">6</div>
        <div class="day-name">วัน</div>
      </div>
      <div class="hour">
        <div class="hour-number">12</div>
        <div class="hour-name">ชั่วโมง</div>
      </div>
      <div class="min">
        <div class="min-number">12</div>
        <div class="min-name">นาที</div>
      </div>
      <div class="second">
        <div class="second-number">12</div>
        <div class="second-name">วินาที</div>
      </div>
    </div>
  </div>

  </div>
  <ion-button expand="full"  class="button-invite" color="triamrun">ชวนเพื่อน</ion-button>
</ion-content>
