<ion-header>
  <ion-toolbar>
      <ion-menu-button slot="start" menu="openmenu1" size="large"></ion-menu-button>
    
    <ion-title style="text-align: center; font-size: 1em; font-family: 'Prompt'; color: #FC6602;">MISSION</ion-title>
    <ion-buttons slot="end" >
      <ion-button>
        <ion-icon name="search" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css?family=Prompt:100,300,400,500,600,700&display=swap" rel="stylesheet">
</ion-header>

<ion-content>
  <div class="head-mission">
    <div class="mission">Mission</div>
    
    <ion-segment (ionChange)="onFilterUpdate($event)" style="font-size: 1em;
    font-family: 'Prompt';">
        <ion-segment-button  value="eazy" checked>
          <ion-label checked>ง่าย</ion-label>
          
        </ion-segment-button>
        <ion-segment-button  value="nomal">
          <ion-label>กลาง</ion-label>
        </ion-segment-button>
        <ion-segment-button  value="hard">
            <ion-label>ยาก</ion-label>
        </ion-segment-button>
      </ion-segment>

      <!-- <div class="level">
        <div style="border-bottom: solid 3px #FC6602;">ง่าย</div>
        <div style="opacity: 0.5;">ปานกลาง</div>
        <div style="opacity: 0.5;">ยาก</div>
      </div> -->
    
  </div>
  <div class="wrapper-mission-month">
    <h2>พฤษจิกายน 2562</h2>
  </div>
  <!-- <button (click)="getUser()">getuser</button> -->
  <button (click)="getMissioninfo()">getmission</button>
  <app-mission-button [missioninfo]="missioninfo"></app-mission-button>

  
  
  <div class="wrappe-button">
    <ion-button  class="button-run" color="traimrun" routerLink="/run">เริ่มวิ่ง</ion-button>
  </div>
  
</ion-content>
