.wrappe-button{
    position: fixed;
    width: 100%;
    
    bottom: 2%;
    
    text-align: center;
}
.button-run{
    width: 160px;
    height: 45px;
    font-size: 1em;
    // display: block;

}
.head-mission{
    height: 85px;
    width: 100%;
    background-color: #F3961F;
    padding-top: 15px;
 
    display: flex;
    flex-direction: column;
}
.mission{
    font-size: 1.250em;
    text-align: center;
    color: #fff;
    height: 50%;
}
.wrapper-level{
    height: 50%;
    width: 100%;
    background-color: red;
    
    
}
.level{
   
    display: flex;
    flex-direction: row;
    
    font-size: 1em;
    font-family: 'Prompt';
    color: #fff;
    
    width: 100%;
    height: 50%;
    
    text-align: center;
    
}
.level div{
    padding-top: 8px;
    width: 100%;
    height: 100% ;
}
.wrapper-mission-month{
    display: flex;
   height: 55px;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;

}
.wrapper-mission-month h2{
    font-family: 'Prompt';
    font-weight: 400;
    font-size: 1.2em;
    
}