<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button>
        <ion-icon name="menu" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title style="text-align: center; font-size: 1em; font-family: 'Prompt'; ">MISSION</ion-title>
    <ion-buttons slot="end" >
      <ion-button>
        <ion-icon name="" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css?family=Prompt:100,300,400,500,600,700&display=swap" rel="stylesheet">
</ion-header>

<ion-content class="no-scroll">
  <div class="head-mission">
    <div class="mission">Mission</div>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
    </div>
  </div>
  <!-- <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button> -->
  <div class="wrappe-button">
    <ion-button  class="button-run">เริ่มวิ่ง</ion-button>
  </div>
  
</ion-content>
