<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button>
        <ion-icon name="menu" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title style="text-align: center; font-size: 1em; font-family: 'Prompt'; ">MISSION</ion-title>
    <ion-buttons slot="end" >
      <ion-button>
        <ion-icon name="" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css?family=Prompt:100,300,400,500,600,700&display=swap" rel="stylesheet">
</ion-header>

<ion-content class="no-scroll">
  <div class="head-mission">
    <div class="mission">Mission</div>
    
  </div>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <app-mission-button></app-mission-button>
  <div class="wrappe-button">
    <ion-button  class="button-run">เริ่มวิ่ง</ion-button>
  </div>
  
</ion-content>
