<ion-header>
  <ion-toolbar>
  
      <ion-menu-button slot="start" menu="openmenu1" size="large"></ion-menu-button>
    <ion-title style="text-align: center; font-size: 1em; font-family: 'Prompt';color: #FC6602;">INBOX</ion-title>
    <ion-buttons slot="end" >
        <ion-button>
          <ion-icon name="" ></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>



    <ion-router-outlet></ion-router-outlet>
</ion-header>

<ion-content>
  <div class="contaner-inbox"> 
    <ion-segment (ionChange)="onFilterUpdate($event)" style="font-family: 'Prompt';">
      <ion-segment-button value="challenge" checked>โปรโมทกิจกรรมวิ่ง</ion-segment-button>
      <ion-segment-button value="history-challenge">แจ้งเตือนเกี่ยวกับคุณ</ion-segment-button>
    </ion-segment>
  </div>
  
</ion-content>
