<ion-button class="my-challenge" color="medium-contrast" routerLink="/challenge-project">
  <div class="my-challenge-card">
    <div class="icon-dsitance">
      <ion-icon name="ribbon" slot="start" size="large" style="color: #000;"></ion-icon>
      <div style="font-size: 1em; font-weight: 700; color: #000;">15K</div>
    </div>
    <div class="date-distance-day">
      <div class="date">10/11/2562 - 17/11/2562 </div>
      <div class="flex-row">
        <ion-icon name="pin" slot="start" size="small" color="medium"></ion-icon>
        <ion-label style="margin-left: 5px; color:#989aa2">0.00 / 15.00 กม.</ion-label>
      </div>
      <div class="flex-row">
        <ion-icon name="time" slot="start" size="small" color="medium"></ion-icon>
        <ion-label style="margin-left: 5px; color:#989aa2">เหลืออีก 3 วัน</ion-label>
      </div>
    </div>
    <div class="arrow-right">
      
      <ion-img src="../../../assets/icon/rigth-icon-black.png" class="right-icon" ></ion-img>
    </div>
  </div>
</ion-button>
