<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" menu="openmenu1" size="large"></ion-menu-button>
    <ion-title style="text-align: center; font-size: 1em; font-family: 'Prompt';color: #FC6602;">PROFILE</ion-title>
    <ion-buttons slot="end" >
      <ion-button>
        <ion-icon name="search" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="connener-profile">
    <div class="profile-all">
      <div class="img">
        <div class="img-person"></div>
      </div>
      <div class="profile-name">
        <div class="name">HARRY JO</div>
        <div class="edit">แก้ไข้ข้อมูลส่วนตัว</div>
      </div>
    </div>
    <div class="friend-all">
      <div class="friend">
        <!-- <ion-icon name="ribbon" ></ion-icon> -->
        <div class="number-friend">1</div>
      </div>
      <div class="find-friend">
        <div class="button-friend"></div>
        <ion-button  fill="outline"  >หาเพื่อน</ion-button>
      </div>
    </div>
    <ion-segment (ionChange)="onFilterUpdate($event)">
      <ion-segment-button value="challenge" checked>MISSION</ion-segment-button>
      <ion-segment-button value="history-challenge">CHALLENGE</ion-segment-button>
    </ion-segment>
  </div>
  
</ion-content>
