<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="'true'" class="has-header">
  
  <div class="time">{{u_email.u_email}}</div>

    <form class="list" >
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Email</span>
      
      <!-- // here we create a user object and store email as its property  -->
                <input  id="u_email" type="email" 
                [(ngModel)]="logindata.u_email" name="u_email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
      
      <!-- // user object  -->
                <input id="u_password" type="password" 
                [(ngModel)]="logindata.u_password" name="u_password">
            </label>
        </ion-list>
        <div class="spacer" style="height: 40px;"></div>
  
  <!-- // login() function is called -->
        <button  class="button button-stable button-block " (click)="login()" >Log in</button>
  
  <!-- // a link to register page -->
  <button (click)="getUser()">getuser</button>
    </form>
</ion-content>

