<ion-header>
  <ion-toolbar>
      <ion-menu-button slot="start" menu="openmenu1" size="large"></ion-menu-button>

    <ion-title style="text-align: center; font-size: 1em; font-family: 'Prompt';color: #FC6602;">HISTORY</ion-title>
    
    <ion-buttons slot="end" >
      <ion-button>
        <ion-icon name="" ></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>


</ion-header>

<ion-content>
  <div class="contener-history">
      <div class="history-head">
          <div class="wrapper-run-recore">
            <div class="number-km-all">
              <div class="number-km">13.21</div>
              <div class="distance-km">ระยะทางทั้งหมด(กม.)</div>
            </div>
            <div class="run-time-calorie">
        
              <div class="run-all">
                <div class="run">5</div>
                <div class="text-run">วิ่งทั้งหมด</div>
              </div>
              <div class="time-all">
                <div class="time">02:32</div>
                <div class="text-time">เวลาทั้งหมด</div>
              </div>
              <div class="calorie-all">
                <div class="calorie">767</div>
                <div class="text-calorie">แคลอรี่</div>
              </div>
            </div>
          </div>
          
          <div class="left-right-button">
            <div class="button-left">
              <ion-img class="icon" src="../../../assets/icon/left-icon.png" ></ion-img>
            </div>
            <div class="month">พฤศจิยายน 2562</div>
            <div class="button-right">
              <ion-img class="icon" style="margin-right: 4px;" src="../../../assets/icon/rigth-icon.png" ></ion-img>
            </div>
          </div>
          
      </div>
      <div class="connenter">
          <div class="wrappe-button-history">
              <div class="text-history hightlight">7วัน</div>
              <div class="text-history">1 เดือน</div>
              <div class="text-history">1 ปี</div>    
          </div>
      </div>
  </div>
  

</ion-content>
