

<div class="wrapper-mission">
    <div class="contaner-mission-botton">
        <div class="number-mission">
          <div>1</div>
        </div>
        <div class="name-mission-all">
          <div class="name-miss">วิ่งออกกำลังกาย 2 กิโลเมตร</div>
          <div class="chart-mission"></div>
        </div>
        <div class="km-mission">
          <div class="km">2</div>
          <div class="km">กม.</div>
        </div>
    </div>
</div>
<div class="wrapper-mission">
  <div class="contaner-mission-botton">
      <div class="number-mission">
        <div>2</div>
      </div>
      <div class="name-mission-all">
        <div class="name-miss">วิ่งออกกำลังกาย 3 กิโลเมตร</div>
        <div class="chart-mission"></div>
      </div>
      <div class="km-mission">
        <div class="km">3</div>
        <div class="km">กม.</div>
      </div>
  </div>
</div>

<div class="wrapper-mission">
  <div class="contaner-mission-botton">
      <div class="number-mission">
        <div>3</div>
      </div>
      <div class="name-mission-all">
        <div class="name-miss">วิ่งออกกำลังกาย 4 กิโลเมตร</div>
        <div class="chart-mission"></div>
      </div>
      <div class="km-mission">
        <div class="km">4</div>
        <div class="km">กม.</div>
      </div>
  </div>
</div>

<div class="wrapper-mission">
  <div class="contaner-mission-botton">
      <div class="number-mission">
        <div>4</div>
      </div>
      <div class="name-mission-all">
        <div class="name-miss">วิ่งออกกำลังกาย 5 กิโลเมตร</div>
        <div class="chart-mission"></div>
      </div>
      <div class="km-mission">
        <div class="km">5</div>
        <div class="km">กม.</div>
      </div>
  </div>
</div>