



<div class="wrapper-mission" >

  <div class="contaner-mission-botton" >
      <div class="number-mission">
        <div>{{mission_id}}</div>
      </div>
      <div class="name-mission-all">
        <div class="name-miss">วิ่ง</div>
        <div class="chart-mission"></div>
      </div>
      <div class="km-mission">
        <div class="km">5</div>
        <div class="km">กม.</div>
      </div>
  </div>

</div>

<div class="wrapper-mission" >

  <div class="contaner-mission-botton" >
      <div class="number-mission">
        <div>2</div>
      </div>
      <div class="name-mission-all">
        <div class="name-miss">วิ่ง</div>
        <div class="chart-mission"></div>
      </div>
      <div class="km-mission">
        <div class="km">5</div>
        <div class="km">กม.</div>
      </div>
  </div>

</div>