<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mission">
        <ion-icon name="list-box"></ion-icon>
        <ion-label>MISSION</ion-label>
        
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="paper"></ion-icon>
      <ion-label>HISTORY</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="run" >
      <ion-icon name="radio-button-on"></ion-icon>
      <ion-label>RUN</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inbox">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>INBOX</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>PROFILE</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>