<ion-header>
  <ion-toolbar>
      <ion-menu-button slot="start" menu="openmenu1" size="large"></ion-menu-button>
    <ion-title style="text-align: center; font-size: 1em; font-family: 'Prompt'; color: #FC6602;">CHALLENGE</ion-title>
    <ion-buttons slot="end" >
        <ion-button>
          <ion-icon name="" ></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
<app-tabs-menu></app-tabs-menu>
<div  class="contener-challenge" padding>
  <div class="create-challenge">
    <ion-button class="create-challenge-button" color="triamrun">สร้าง CHALLENGE
      <ion-icon name="ribbon" slot="end"></ion-icon>
    </ion-button>
    
  </div>
</div>
</ion-content>
